{% extends "client/base.twig" %}

{% block content %}
    <p>
        Welcome to the CS2 Demo Application! This application demonstrate the various possibilities for connecting to a oAuth Service. Pls find the different methods below.
    </p>

    <div class="simpleTabs">
        <ul class="simpleTabsNavigation">
            <li><a href="#authcode">Authorization Code</a></li>
            <li><a href="#implicit">Implicit</a></li>
            <li><a href="#usercred">User Credentials</a></li>
            <li><a href="#refresh">Refresh Token</a></li>
            <li><a href="#openid">OpenID Connect</a></li>
        </ul>
        <div class="simpleTabsContent">{% include 'client/grant_types/_authorization_code.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_implicit.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_user_credentials.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_refresh_token.twig' %}</div>
        <div class="simpleTabsContent">{% include 'client/grant_types/_openid_connect.twig' %}</div>
    </div>
{% endblock %}
